body{
    background-color: black;
    color: white;
}
div{
    width: 200px;
    height: 200px;
    background-color: green;
    border: 2px solid white;
}
/* #div2{
    margin-bottom: 100px;
} */
 /* #div3{
    margin-top: 100px;
 } */

#div2{
    padding: 100px;
}